name: open_street_map
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  flutter_osm_plugin: ^1.1.0
  font_awesome_flutter: ^10.6.0
  cupertino_icons: ^1.0.8
  flutter_map: ^6.1.0
  flutter_map_location_marker: ^8.0.8
  latlong2: ^0.9.1
  geolocator: ^11.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true